* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 2em;
    text-align: center;
    color: #4CAF50;
}

section {
    margin-bottom: 20px;
}

.about-me,
.skills,
.contact-info {
    padding: 10px 0;
}

.profile-picture img {
    display: block;
    max-width: 150px;
    margin: 0 auto;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
    
}

ul {
    list-style-type: none;
}

li {
    margin-bottom: 5px;
}

.contact-info a {
    color: #4CAF50;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}